<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Assignment 1 - Product Data Management System</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1>Product Input Form</h1>
	<p>Please enter the following information: </p>
	<form action="#" th:action="@{/productInput}" th:object="${product}" 
	method="post">
		<p>Product Code: 			<input type="text" th:field="*{productCode}" 
			/></p>
		<p>Product Description: 	<input type="text" 
			th:field="*{productDescription}" /></p>
		<p>Quantity in Hand: <input type="text" th:field="*{productQuantity}"/>
			</p>
		<p>Unit Price: <input type="text" th:field="*{productUnitPrice}" /></p>
		<p><input type=submit value="Submit" />
		<input type="reset" value="Reset" />
		<a href="/index"><input type="button" value="Cancel"></a>
</body>
</html>